################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cake-tests/FileContentIndex
/.vs/cake-tests/v17
/.vs
